<h1>Editando Custo</h1>

<%= render 'form', custo: @custo %>

<%= link_to 'Mostrar', @custo %> |
<%= link_to 'Projeto', @projeto, class:"btn btn-default"%> |
<%= link_to 'Listagem', custos_path %>

</div>