<h1>Cadastrar Novo Projeto</h1>
<div class="row">
<div class="col-xs-8">

<p>
  Insira as informações relacionadas ao novo projeto.
</p>
<%= render 'form', projeto: @projeto %>

<%= link_to 'Listagem', projetos_path, class:"btn btn-warning" %>

</div><!-- class actions-->
  
</div><!-- col -->
</div><!-- row -->