<h1>Cadastrar Novo Projeto</h1>
<p>
  Insira as informações relacionadas ao novo projeto.
</p>
<%= render 'form', projeto: @projeto %>

<%= link_to 'Cancelar', projetos_path, class:"btn btn-warning" %>
