<<<<<<< HEAD
<h1>Seja bem vindo ao sistema ONG Ágil!</h1>
<p>Projeto em desenvolvimento, que pode ser acompanhado <a href="https://www.pivotaltracker.com/n/projects/1859063" taget="_blank">aqui</a>.</p>
<p> David Silva Martins de Andrade</p>
<p> Jean Adam Calixto do Valle</p>
<p> Lígia Santos nº USP: 9564580 </p>
<p> Mayra Hosokawa nº USP: 6792815 </p>
<p> Rafael Sandroni </p>
<p> Ricardo Takazu Hatae NUSP 10124293</p>
<p>ruby: <%= RUBY_VERSION %> rails: <%= Rails.version %> os: <%= RUBY_PLATFORM %><br />
</p>
=======
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Cronograma dos Projetos</h3>
                <h4>Acompanhamento dos projetos</h4>
                
                <a class="btn btn-primary" href="#">Visualizar <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Cronograma das Atividades</h3>
                <h4>Acompanhamento das atividades</h4>
                
                <a class="btn btn-primary" href="#">Visualizar <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        </div>
        </div>
        <!-- /.row -->

<br>
<br>
<br>
<br>
<br>
<br>

>>>>>>> 4b4226bb89d53bd8467d4b0bac83ad53aa00fb57
