<h1>Seja bem vindo ao sistema ONG Ágil!</h1>
<p>Projeto em desenvolvimento, que pode ser acompanhado <a href="https://www.pivotaltracker.com/n/projects/1859063" taget="_blank">aqui</a>.</p>
<p> Jean Adam Calixto do Valle</p>
<p> Lígia Santos nº USP: 9564580 </p>
<p> Rafael Sandroni </p>
<p> Ricardo Takazu Hatae NUSP 10124293</p>
<p>ruby: <%= RUBY_VERSION %> rails: <%= Rails.version %> os: <%= RUBY_PLATFORM %><br />
</p>
