<div class="container">
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small></small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Project One -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://unichristus.edu.br/wp-content/uploads/2014/11/Gerencia-de-Projetos-930x375.png" width="470" height="300" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Cronograma dos Projetos</h3>
        <h4>Acompanhamento dos projetos</h4>
        
        <a class="btn btn-primary" href="projetos.html">Visualizar <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://stakeholdernews.com.br/wp-content/uploads/2015/12/habilidades-de-gerentes-de-projetos.jpg" width="420" height="300" alt="">
            
        </a>
    </div>
    <div class="col-md-5">
        <h3>Cronograma das Atividades</h3>
        <h4>Acompanhamento das atividades</h4>
        
        <a class="btn btn-primary" href="atividades.html">Visualizar <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->
</div>