<h1>Editar Doador</h1>

<%= render 'form', doador: @doador %>

<br> </br>

    <div class="col-sm-3">
        <b> <%= link_to 'Mostrar', @doador, class: 'btn btn-default' %> | <%= link_to 'Voltar', doadors_path, class: 'btn btn-default' %> <b>
    </div>
    
<br> </br>


